
<h2>Inscrivez vous à notre newsletter</h2>
<div class="animate-box">
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-6">
            <div class="form-group">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_widget(form.email) }}
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="S'inscrire" class="btn btn-primary">
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% for message in app.flashes('message') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
</div>