{% extends 'base.html.twig' %}
{% block title %} {{ event.title }} {% endblock %}
{% block seo %}
    <meta name="description" content="{{ event.seoDescription }}" />
{% endblock %}
{% block reseaux %}
    <meta property="og:url"           content="{{ app.request.uri }}" />
    <meta property="og:type"          content="unitaide.org" />
    <meta property="og:title"         content="{{ event.title }}" />
    <meta property="og:description"   content="{{ event.seoDescription }}" />
    <meta property="og:image"         content="{{ url('home') }}{{ vich_uploader_asset(event, 'imageFile') }});" />
{% endblock %}
{% block body %}

    <div id="fh5co-intro-section">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 animate-box text-center">
                <h1 class="intro-heading">{{ event.title }}</h1>
                <p><span>Évènement publier le :  {{ event.createdAt|date('d/m/Y') }}</span></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center animate-box">
                <div class="about-content">
                    <div class="row">
                        <div class="col-md-12 text-center animate-box">
                            <div class="work" style="background-image: url({{ vich_uploader_asset(event, 'imageFile') }});">
                            </div>
                        </div>
                    </div>
                    {{ event.description|raw }}
                </div>
            </div>
        </div>


        {% if event.endEvent|date('U') > 'now'|date('U') %}
        <div class="row animate-box" id="test">
            <div class="col-md-9 col-md-offset-2 text-center animate-box">
                <div class="about-content">
                    <style>
                        .time {
                            font-size: 3rem;
                        }
                    </style>
                    <div id="countdown" style="font-size: 3rem;">
                        <strong>Temps restant</strong> :
                        <span class="time" id="countdown_day" >--</span> jours
                        <span class="time" id="countdown_hour">--</span> heures
                        <span class="time" id="countdown_min" >--</span> minutes
                        <span class="time" id="countdown_sec" >--</span> secondes
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div id="fh5co-work-section">
            <div class="container">
                <div class="row">
                    {% for image in event.images %}
                        <div class="col-md-6 text-center animate-box">
                            <div class="work" style="background-image: url({{ vich_uploader_asset(image, 'imageFile') }});">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-1 animate-box">
                <div class="about-content">
                    {% for tag in event.tags|split(',') %}
                        <span class="btn btn-primary">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        countdownManager = {
            // Configuration
            targetTime: new Date('{{ event.endEvent|date }}'), // Date cible du compte à rebours (00:00:00)
            displayElement: { // Elements HTML où sont affichés les informations
                day:  null,
                hour: null,
                min:  null,
                sec:  null
            },

            // Initialisation du compte à rebours (à appeler 1 fois au chargement de la page)
            init: function(){
                // Récupération des références vers les éléments pour l'affichage
                // La référence n'est récupérée qu'une seule fois à l'initialisation pour optimiser les performances
                this.displayElement.day  = jQuery('#countdown_day');
                this.displayElement.hour = jQuery('#countdown_hour');
                this.displayElement.min  = jQuery('#countdown_min');
                this.displayElement.sec  = jQuery('#countdown_sec');

                // Lancement du compte à rebours
                this.tick(); // Premier tick tout de suite
                window.setInterval("countdownManager.tick();", 1000); // Ticks suivant, répété toutes les secondes (1000 ms)
            },

            // Met à jour le compte à rebours (tic d'horloge)
            tick: function(){
                // Instant présent
                var timeNow  = new Date();

                // On s'assure que le temps restant ne soit jamais négatif (ce qui est le cas dans le futur de targetTime)
                if( timeNow > this.targetTime ){
                    timeNow = this.targetTime;
                }

                // Calcul du temps restant
                var diff = this.dateDiff(timeNow, this.targetTime);

                this.displayElement.day.text(  diff.day  );
                this.displayElement.hour.text( diff.hour );
                this.displayElement.min.text(  diff.min  );
                this.displayElement.sec.text(  diff.sec  );
            },

            // Calcul la différence entre 2 dates, en jour/heure/minute/seconde
            dateDiff: function(date1, date2){
                var diff = {};                           // Initialisation du retour
                var tmp = date2 - date1;

                tmp = Math.floor(tmp/1000);             // Nombre de secondes entre les 2 dates
                diff.sec = tmp % 60;                    // Extraction du nombre de secondes
                tmp = Math.floor((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
                diff.min = tmp % 60;                    // Extraction du nombre de minutes
                tmp = Math.floor((tmp-diff.min)/60);    // Nombre d'heures (entières)
                diff.hour = tmp % 24;                   // Extraction du nombre d'heures
                tmp = Math.floor((tmp-diff.hour)/24);   // Nombre de jours restants
                diff.day = tmp;

                return diff;
            }
        };

        setInterval(function () {
            if(countdownManager.targetTime < new Date()) {
                $('#test').hide();
            }
        }, 1000);
        
        jQuery(function($){
            // Lancement du compte à rebours au chargement de la page
            countdownManager.init();
        });
    </script>
{% endblock %}