{% extends 'backOffice/base.html.twig' %}

{% block title %} Modifier la Categorie {% endblock %}

{% block body %}

    {{ form_start(form) }}
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Modifier la Categorie</legend>
        <div class="uk-margin">
            {{ form_label(form.name, 'Nom') }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <button type="submit" class="uk-button uk-button-primary">Modifier</button>
    </fieldset>
    {{ form_end(form) }}

{% endblock %}