{% extends 'base.html.twig' %}
{% block title %} {{ article.title }} {% endblock %}
{% block body %}

    <div id="fh5co-intro-section">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 animate-box text-center">
                <h1 class="intro-heading">{{ article.title }}</h1>
                <p><span>Article publier le :  {{ article.createdAt|date('d/m/Y') }}</span></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center animate-box">
                <div class="about-content">
                    <div class="row">
                        <div class="col-md-12 text-center animate-box">
                            <div class="work" style="background-image: url({{ vich_uploader_asset(article, 'imageFileMiniature') }});">
                            </div>
                        </div>
                    </div>
                   {{ article.description|raw }}
                </div>
            </div>
        </div>


        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center animate-box">
                <div class="about-content">
                    {% for tag in article.tags|split(',') %}
                        <span class="btn btn-primary">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="fh5co-work-section">
            <div class="container">
                <div class="row">
                    {% for image in article.images %}
                    <div class="col-md-6 text-center animate-box">
                        <div class="work" style="background-image: url({{ vich_uploader_asset(image, 'imageFile') }});">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}