<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('build/uikit.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>

<div class="uk-container">
    {% block body %}
    {% endblock %}
</div>
    {% block javascripts %}
        <script src="{{ asset('build/runtime.js') }}"></script>
        <script src="{{ asset('build/uikit.js') }}"></script>
        <script src="{{ asset('build/uikit-icon.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
</body>
</html>