<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Document</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, nofollow">
    <!-- favicon.ico and apple-touch-icon.png -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon-16x16.png') }}">
    {% block stylesheets %}
    <!-- fontawesome cdn  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        {{ encore_entry_script_tags('turbolinks') }}
        {{ encore_entry_link_tags('uikit') }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% if is_granted('ROLE_ADMIN') %}
<button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-overlay"><i class="fas fa-bars"></i> Menu</button>
{% endif %}
<div id="offcanvas-overlay" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <div class="uk-width-1-2@s uk-width-2-5@m">
            <ul class="uk-nav uk-nav-default">
                <li class="uk-active"><a href="{{ path('admin_index') }}">Accueil</a></li>
                <li><a href="{{ path('admin_list_article') }}">Articles</a></li>
                <li><a href="#">Evenements</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="uk-container">

    {% block body %}
    {% endblock %}

</div>
    {% block javascripts %}
        <script src="{{ asset('build/runtime.js') }}"></script>
        {{ encore_entry_script_tags('uikit') }}
        {{ encore_entry_script_tags('uikit-icon') }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>