{% extends 'backOffice/base.html.twig' %}

{% block title %} <title>AJouter un nouvelle article</title> {% endblock %}

{% block body %}

    {{ form_start(form) }}
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">Ajouter un article</legend>
            <div class="uk-margin">
                {{ form_label(form.title, 'Titre') }}
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.description, 'Description') }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>

            <div class="uk-margin">
                {{ form_label(form.imageFileMiniature, 'Ajouter une miniature pour l\'article') }}
                {{ form_widget(form.imageFileMiniature) }}
                {{ form_errors(form.imageFileMiniature) }}
            </div>

            <div class="uk-margin">
                {{ form_label(form.imageFiles, 'Ajouter des images') }}
                {{ form_widget(form.imageFiles) }}
                {{ form_errors(form.imageFiles) }}
            </div>

            <div class="uk-margin">
                {{ form_label(form.tags, 'Ajouter des tags') }}
                {{ form_widget(form.tags) }}
                {{ form_errors(form.tags) }}
            </div>
            <button type="submit" class="uk-button uk-button-primary">Ajouter</button>
        </fieldset>
    {{ form_end(form) }}

{% endblock %}