{% extends 'backOffice/base.html.twig' %}

{% block title %} Editer {% endblock %}

{% block body %}

    {{ form_start(form) }}
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Modifier l'article</legend>
        <div class="uk-margin">
            {{ form_label(form.category, 'Catégorie de l\'article') }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
        </div>
        <div class="uk-margin">
            {{ form_label(form.title, 'Titre') }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="uk-margin">
            {{ form_label(form.description, 'Description') }}
            {{ form_widget(form.description, {'attr': {'class': 'ckeditor'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="uk-margin">
            {{ form_label(form.imageFileMiniature, 'Modifier la miniature pour l\'article') }}
            {{ form_widget(form.imageFileMiniature) }}
            {{ form_errors(form.imageFileMiniature) }}
        </div>

        <div class="uk-margin">
            {{ form_label(form.imageFiles, 'Ajouter des images') }}
            {{ form_widget(form.imageFiles) }}
            {{ form_errors(form.imageFiles) }}
        </div>

        <div class="uk-margin">
            {{ form_label(form.tags, 'Ajouter des tags') }}
            {{ form_widget(form.tags) }}
            {{ form_errors(form.tags) }}
        </div>
        <div class="uk-margin">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

                <ul class="uk-slideshow-items">
                    {% for image in article.images %}
                    <li>
                        <img data-src="{{ asset('images/articles/'~image.name) }}" width="1800" height="1200" alt="{{ image.name }}" uk-cover uk-img="target: !.uk-slideshow-items">

                        <a class="uk-position-top-right uk-position-small uk-hidden-hover" title="supprimer l'image" href="{{ path('admin_delete_image', {'id': image.id}) }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </li>

                    {% endfor %}
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

            </div>
        </div>
        <button type="submit" class="uk-button uk-button-primary">Modifier</button>
    </fieldset>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('textarea.ckeditor').ckeditor();
        });
    </script>
{% endblock %}