<nav id="fh5co-main-nav" role="navigation">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
    <div class="js-fullheight fh5co-table">
        <div class="fh5co-table-cell js-fullheight">
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('about') }}">Qui sommes-nous ?</a></li>
                <li><a href="{{ path('blog') }}">Nos projets</a></li>
                <li><a href="{{ path('event') }}">Évènements</a></li>
                <li><a href="{{ path('idea_box') }}">Une idée a nous partager ?</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li><a href="{{ path('don') }}">Faire un don</a></li>
            </ul>
            <p class="fh5co-social-icon">
                <a href="https://m.facebook.com/Unitaide-283372645849838/" target="_blank"><i class="icon-facebook2"></i></a>
                <a href="https://www.instagram.com/unitaide.asso/" target="_blank"><i class="icon-instagram"></i></a>
            </p>
        </div>
    </div>
</nav>

<div id="fh5co-page">
    <header >
        <nav class="navbar navbar-default" style="background-color: #FFFFFF;margin-bottom: 0px;">
                <div class="navbar-header">
                    <h1 class="text-center"><a class="fh5co-logo" href="{{ url('home') }}"><img src="{{ asset('images/logo.png') }}" width="150" height="150" alt="logo"></a></h1>
                </div>
                <div class="container" id="nav-edit">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top: 10px;">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('home') }}"><strong>ACCUEIL</strong></a></li>
                            <li><a href="{{ path('about') }}"><strong>QUI SOMMES-NOUS ?</strong></a></li>
                            <li><a href="{{ path('blog') }}"><strong>NOS PROJETS</strong></a></li>
                            <li><a href="{{ path('event') }}"><strong>EVENEMENTS</strong></a></li>
                            <li><a href="{{ path('contact') }}"><strong>CONTACT</strong></a></li>
                            <li>
                                <figure class="text-center" id="reseau"style="margin-left: 30px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="https://www.instagram.com/unitaide.asso/" target="_blank">
                                                <img src="{{ asset('images/logo_insta.png') }}" width="40" height="40" alt="logo_instagram">
                                            </a>
                                            <a href="{{ asset('images/snapchat.jpg') }}" target="_blank">
                                                <img src="{{ asset('images/snapchat.jpg') }}" width="40" height="50" alt="Snapchat">
                                            </a>
                                            <a href="https://www.facebook.com/unitaide.asso/" target="_blank">
                                                <img src="{{ asset('images/facebook_logo.png') }}" width="40" height="40" alt="Facebook_logo">
                                            </a>
                                        </div>
                                    </div>
                                </figure>
                            </li>
                        </ul>
                        <figure class="fh5co-nav-toggle">
                            <a href="{{ path('don') }}" class="btn btn-test" style="margin-bottom: 0px;border-bottom-width: 0px;margin-right: 0px;padding-bottom: 10px;padding-top: 10px;margin-top: 5px;">Faire un don</a>
                        </figure>
                    </div>
                </div>
                <a href="#" id="toogle" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
        </nav>
    </header>

