<nav id="fh5co-main-nav" role="navigation">
    <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
    <div class="js-fullheight fh5co-table">
        <div class="fh5co-table-cell js-fullheight">
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('about') }}">Qui sommes-nous ?</a></li>
                <li><a href="{{ path('blog') }}">Nos projets</a></li>
                <li><a href="{{ path('event') }}">Évènements</a></li>
                <li><a href="{{ path('idea_box') }}">Une idée a nous partager ?</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li><a href="{{ path('don') }}">Faire un don</a></li>
            </ul>
            <p class="fh5co-social-icon">
                <a href="https://m.facebook.com/Unitaide-283372645849838/" target="_blank"><i class="icon-facebook2"></i></a>
                <a href="https://www.instagram.com/unitaide.asso/" target="_blank"><i class="icon-instagram"></i></a>
            </p>
        </div>
    </div>
</nav>

<div id="fh5co-page">

    <header>
        <nav class="navbar navbar-default" style="background-color: #FFFFFF;">
                <div class="navbar-header">
                        <h1 class="text-center"><a class="fh5co-logo" href="{{ url('home') }}"><img src="{{ asset('images/logo.png') }}" width="80" height="80" alt="logo"></a></h1>
                </div>
            <div class="container">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('about') }}">Qui sommes-nous ?</a></li>
                        <li><a href="{{ path('blog') }}">Nos projets</a></li>
                        <li><a href="{{ path('event') }}">Évènements</a></li>
                        <li><a href="{{ path('idea_box') }}">Une idée a nous partager ?</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                        <li><a href="{{ path('don') }}" class="btn btn-primary">Faire un don</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            </div><!-- /.container-fluid -->
        </nav>
    </header>

